<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>

    <h1>MAIN MENU</h1>
    <form method="POST" action="/">
        <label>Client name:</label><br />
        <input type="text" name="client"><br />
        <label>Select the command:</label><br />
        <select name="cmd">
            <option value="1">ECHO</option>
            <option value="2">SEARCH</option>
            <option value="3">DOWNLOAD</option>
        </select>
        <input type="submit">
    </form>

    </html>