<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>

    <h1>SEARCH APP</h1>
        <form method="POST" action="/search">
            <label>Client name:</label><br />
            <input type="text" name="clientsearch"><br />
            <label>Sentence to search:</label><br />
            <input type="text" name="keysentence"><br />
            <input type="submit">
        </form>

        <span style="white-space:pre-wrap;"> {{ .SearchData.SearchResult }} </span> 
        

</html>